BODY {
    background: #eee;
    color: #333;
}
h4 {
    margin: 0;
    padding: .4em 20% .4em 1em;
}
.container {
    position: relative;
    width: 620px;
    margin: 4px auto;
    border: 1px solid #303030;
    border-radius: 4px;
    background: #fcfcfc;
    box-shadow: 0px 1px 3px 0px rgba(15,48,67,0.2);
}
.widget-messages {
    padding: .6em 1em;
    margin-right: 20%;
    border-top: 1px dotted #eee;
    border-bottom: 1px dotted #eee;
    background: #fff;
    line-height: 1.1;
}
.widget-form {
    margin-right: 20%;
    padding: .4em 1em;
}
.widget-form INPUT {
    box-sizing: border-box;
}
.widget-form INPUT[type="text"] {
    width: 70%;
}
.widget-form INPUT[type="submit"] {
    float: right;
}
.widget-users {
    width: 20%;
    float: right;
}
.widget-users .user {
    padding: .1em .6em;
}
.widget-users:after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background: #303030;
}
